mat-toolbar {
    .mat-icon {
        cursor: pointer;
    }
}

::ng-deep {
    mat-toolbar {
        .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
        .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
            margin-left: -30px;
            font-size: revert;
            height: 1.5em;
            width: 1.5em;
        }
        .mat-form-field:not(.mat-form-field-appearance-legacy)
            .mat-form-field-prefix
            .mat-datepicker-toggle-default-icon,
        .mat-form-field:not(.mat-form-field-appearance-legacy)
            .mat-form-field-suffix
            .mat-datepicker-toggle-default-icon {
            display: inherit;
        }
    }

    mat-form-field.mat-form-field.search {
        margin-top: 0px;
    }

    form {
        .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
        .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
            margin-left: -30px;
            font-size: revert;
            height: 1.5em;
            width: 1.5em;
        }

        .mat-form-field:not(.mat-form-field-appearance-legacy)
            .mat-form-field-prefix
            .mat-datepicker-toggle-default-icon,
        .mat-form-field:not(.mat-form-field-appearance-legacy)
            .mat-form-field-suffix
            .mat-datepicker-toggle-default-icon {
            display: inherit;
        }

        mat-form-field.date-picker {
            div {
                .mat-form-field-flex {
                    padding: 0;
                    background-color: transparent;
                }
            }
        }

        .mat-form-field-wrapper {
            padding: 0;
            margin: 0;
        }

        .mat-form-field-appearance-outline .mat-form-field-flex {
            margin-top: 0;
        }

        .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 0;
        }

        .mat-select-arrow-wrapper {
            display: block;
        }

        div.row-margin {
            margin: 0 !important;
        }
    }
}
