<div class="mat-headline">Audit</div>
<div fxLayout="column" [fxLayoutGap]="layoutGapM">
    <div fxLayout fxLayoutAlign="space-between center">
        <form fxflexfill>
            <div fxLayoutGap="grid" [fxLayoutGap]="layoutGapS">
                <mat-form-field floatLabel="always" appearance="fill" class="date-picker">
                    <input
                        placeholder="from"
                        matInput
                        label="startCountTime"
                        name="startCountTime"
                        [ngxMatDatetimePicker]="pickerFrom"
                        (dateChange)="setDateFrom($event)"
                        [(ngModel)]="filter.from"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker showSeconds="true" #pickerFrom></ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field floatLabel="always" appearance="fill" class="date-picker">
                    <input
                        placeholder="to"
                        matInput
                        label="startCountTime"
                        name="startCountTime"
                        [ngxMatDatetimePicker]="pickerTo"
                        (dateChange)="setDateTo($event)"
                        [(ngModel)]="filter.to"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker showSeconds="true" #pickerTo></ngx-mat-datetime-picker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="selectionCommand($event)" multiple [(value)]="filter.commandTypes">
                        <mat-option *ngFor="let name of commandsTypes$ | async" value="{{ name }}">{{
                            name
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-select (selectionChange)="selectionObject($event)" multiple [(value)]="filter.objectTypes">
                        <mat-option *ngFor="let name of objectsTypes$ | async" value="{{ name }}">{{
                            name
                        }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="User" (keyup)="search($event)" [value]="filter.user" />
                </mat-form-field>
            </div>
        </form>
        <button mat-button color="accent" (click)="refresh()">REFRESH</button>
    </div>
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="logs$ | async" class="fb-table" matSort (matSortChange)="sortData($event)">
                <ng-container matColumnDef="insertTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.insertTime | date: 'yyyy-MM-dd HH:mm:ss' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="initiator">
                    <th mat-header-cell *matHeaderCellDef>Initiator</th>
                    <td mat-cell *matCellDef="let element">{{ element.initiator }}</td>
                </ng-container>
                <ng-container matColumnDef="objectType">
                    <th mat-header-cell *matHeaderCellDef>Object type</th>
                    <td mat-cell *matCellDef="let element">{{ element.objectType }}</td>
                </ng-container>
                <ng-container matColumnDef="commandType">
                    <th mat-header-cell *matHeaderCellDef>Command type</th>
                    <td mat-cell *matCellDef="let element">{{ element.commandType }}</td>
                </ng-container>
                <ng-container matColumnDef="text">
                    <th mat-header-cell *matHeaderCellDef>Object</th>
                    <td mat-cell *matCellDef="let element">{{ element.object }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-toolbar *ngIf="isLoadMore$ | async">
                <mat-toolbar-row class="justify-content-center">
                    <button mat-stroked-button color="primary" (click)="loadMore()">
                        <span class="material-icons">more_horiz</span>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>
