<mat-expansion-panel>
    <mat-expansion-panel-header>
        <div fxLayout fxFlexFill [fxLayoutGap]="layoutGapM">
            <div class="fb-body-2" fxFlex>{{ chargeback.id }}</div>
            <div class="fb-body-2" fxFlex>{{ chargeback.merchantInfo.partyId }}</div>
            <div class="fb-body-2" fxFlex>{{ chargeback.merchantInfo.shopId }}</div>
            <div class="fb-body-2" fxFlex>{{ chargeback.category }}</div>
            <div class="fb-body-2" fxFlex>{{ chargeback.chargebackCode }}</div>
            <div class="fb-body-2" fxFlex>{{ chargeback.clientInfo.email }}</div>
            <div class="fb-body-2" fxFlex="160px">{{ chargeback.eventTime | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
        </div>
    </mat-expansion-panel-header>
    <div class="panel-content" fxLayout="column" [fxLayoutGap]="layoutGapM">
        <mat-divider></mat-divider>
        <div class="row">
            <div fxFlex>Fingerprint:</div>
            <div fxFlex>{{ chargeback.clientInfo.fingerprint }}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex>Terminal:</div>
            <div fxFlex>{{ chargeback.provider.terminalId }}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex>Amount:</div>
            <div fxFlex>{{ chargeback.amount }}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex>Currency:</div>
            <div fxFlex>{{ chargeback.currency }}</div>
        </div>
        <mat-divider></mat-divider>
    </div>
</mat-expansion-panel>
