<mat-toolbar>
    <mat-toolbar-row>
        <h3>Edit group</h3>
        <button mat-stroked-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button color="accent" (click)="navigateReference()">Reference</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <mat-form-field class="full-width" floatLabel="always">
            <input matInput placeholder="Name" label="name" name="name" [(ngModel)]="editGroup.groupId" disabled />
        </mat-form-field>
        <table
            mat-table
            [dataSource]="editGroup.priorityTemplates"
            class="fb-table"
            matSort
            *ngIf="editGroup.priorityTemplates.length > 0"
            (matSortChange)="sortData($event, editGroup)"
        >
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef width="300px" mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">
                    <input
                        matInput
                        placeholder="id"
                        label="id"
                        name="id"
                        [(ngModel)]="element.id"
                        [matAutocomplete]="auto"
                        (ngModelChange)="doFilter(element.id)"
                    />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </td>
            </ng-container>
            <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
                <td mat-cell *matCellDef="let element">
                    <input
                        type="number"
                        matInput
                        placeholder="priority"
                        label="priority"
                        name="priority"
                        [(ngModel)]="element.priority"
                    />
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="removeTemplate(element.id)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-toolbar>
            <mat-toolbar-row class="justify-content-center">
                <button mat-stroked-button color="primary" (click)="addTemplate()">
                    <span class="material-icons">add</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-content>
</mat-card>
