<table mat-table [dataSource]="references" class="fb-table" matSort (matSortChange)="sort($event)">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th">ID</th>
        <td mat-cell *matCellDef="let element" class="td">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef class="th updatedAt">Updated At</th>
        <td mat-cell *matCellDef="let element" class="td updatedAt">
            {{ element.lastUpdateDate | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
    </ng-container>
    <ng-container matColumnDef="templateID">
        <th mat-header-cell *matHeaderCellDef class="th">Template ID</th>
        <td mat-cell *matCellDef="let element" class="td">
            {{ element.templateId }}
        </td>
    </ng-container>
    <ng-container matColumnDef="isGlobal">
        <th mat-header-cell *matHeaderCellDef class="th">Global</th>
        <td mat-cell *matCellDef="let element" class="td">
            {{ element.isGlobal }}
        </td>
    </ng-container>
    <ng-container matColumnDef="isDefault">
        <th mat-header-cell *matHeaderCellDef class="th">Default</th>
        <td mat-cell *matCellDef="let element" class="td">
            {{ element.isDefault }}
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="th"></th>
        <td mat-cell *matCellDef="let element" class="td">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <!--                <button mat-menu-item (click)="editTemplate(element)">-->
                <!--                    <span>Edit reference</span>-->
                <!--                </button>-->
                <button mat-menu-item (click)="removeTemplate(element)">
                    <span>Remove reference</span>
                </button>
                <button mat-menu-item (click)="goToTempalte(element)">
                    <span>Go to template</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
