<mat-card>
    <mat-card-content fxLayout="column" [fxLayoutGap]="layoutGapM">
        <form [formGroup]="form" fxLayout="column" [fxLayoutGap]="layoutGapL">
            <div fxLayout="row" [fxLayoutGap]="layoutGapL">
                <mat-form-field floatLabel="always" class="date-picker" [fxLayoutGap]="layoutGapL" fxFlex="25%">
                    <input
                        placeholder="Timestamp for start (Cascading test)"
                        matInput
                        label="startCountTime"
                        name="startCountTime"
                        [ngxMatDatetimePicker]="pickerFrom"
                        formControlName="checkingTimestamp"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker showSeconds="true" #pickerFrom></ngx-mat-datetime-picker>
                </mat-form-field>
            </div>
            <div fxLayout="row" [fxLayoutGap]="layoutGapM">
                <mat-form-field floatLabel="always" fxFlex="25%">
                    <input matInput placeholder="Party id (Cascading test)" formControlName="party" />
                </mat-form-field>
                <mat-form-field floatLabel="always" fxFlex="25%">
                    <input matInput placeholder="Shop id (Cascading test)" formControlName="shop" />
                </mat-form-field>
            </div>
            <mat-form-field floatLabel="always">
                <textarea
                    required
                    matInput
                    placeholder="Templates rules"
                    formControlName="template"
                    matTextareaAutosize
                    matAutosizeMinRows="10"
                    matAutosizeMaxRows="20"
                ></textarea>
            </mat-form-field>
        </form>
        <div fxLayout fxLayoutAlign="end" [fxLayoutGap]="layoutGapM">
            <button mat-button color="accent" [disabled]="inProgress$ | async" (click)="validateTemplate()">
                Validate
            </button>
            <button
                mat-button
                color="primary"
                [disabled]="form.invalid || (inProgress$ | async)"
                (click)="testTemplate()"
            >
                Test
            </button>
        </div>
    </mat-card-content>
    <mat-card-footer *ngIf="inProgress$ | async">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
