<mat-toolbar>
    <mat-toolbar-row>
        <h3>Groups</h3>
        <mat-form-field appearance="fill">
            <mat-select [(value)]="operationType" (selectionChange)="search()">
                <mat-option *ngFor="let typeItem of operationTypes" [value]="typeItem">{{ typeItem }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="navigateToNew()">New</button>
        <span class="fb-spacer"></span>
        <mat-form-field class="search fb-full-width" appearance="outline">
            <input matInput placeholder="Search" [ngModel]="searchField" (ngModelChange)="changeSearch($event)" />
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <table mat-table [dataSource]="groups" class="fb-table" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.groupId }}</td>
            </ng-container>
            <ng-container matColumnDef="text">
                <th mat-header-cell *matHeaderCellDef>Templates</th>
                <td mat-cell *matCellDef="let element">{{ mapTemplateName(element.priorityTemplates) }}</td>
            </ng-container>
            <ng-container matColumnDef="lastUpdateDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Update date</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.priorityTemplates[0].lastUpdateTime | date: 'medium' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="navigateToEdit(element.groupId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="openDialog(element.groupId)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-toolbar *ngIf="isLoadMore">
            <mat-toolbar-row class="justify-content-center">
                <button mat-stroked-button color="primary" (click)="loadMore()">
                    <span class="material-icons">more_horiz</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-content>
</mat-card>
