$dark-text: #655b76;
$light-text: white;

/*
How to create palette
0. Choose base color
1. Enter in https://material.io/inline-tools/color/ base color - get 50-900 colors
2. Enter color 500 (gotten at the previous step) into http://mcg.mbitson.com - get A100-A700 colors
   and find out recommendation when to use a dark font color and in which light
*/

// base 600
$fb-purple: (
    50: #f6f2ff,
    100: #d5c8ed,
    200: #bfaae4,
    300: #9d7dd6,
    400: #875fcc,
    500: #7b51c8,
    600: #673ab7,
    700: #5f35a8,
    800: #4e2c8a,
    900: #351e5e,
    A100: #e1d7f2,
    A200: #cab9e9,
    A400: #7b51c8,
    A700: #563199,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $light-text,
        400: $light-text,
        500: $light-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $light-text,
        A700: $light-text,
    ),
);

// base 500
$fb-success: (
    50: #e7f8eb,
    100: #c5ecce,
    200: #9fe0af,
    300: #75d58f,
    400: #51cb76,
    500: #25c15c,
    600: #1ab152,
    700: #059e46,
    800: #008d3b,
    900: #006d27,
    A100: #cdffd7,
    A200: #9affae,
    A400: #67ff85,
    A700: #4dff71,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $dark-text,
        600: $dark-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);

// base 800
$fb-pending: (
    50: #fff9e6,
    100: #ffedc0,
    200: #ffe39a,
    300: #ffd976,
    400: #ffcf63,
    500: #ffc85d,
    600: #ffbb58,
    700: #ffaa54,
    800: #fc9b51,
    900: #f5824d,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffefdb,
    A700: #ffe4c2,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $dark-text,
        600: $dark-text,
        700: $dark-text,
        800: $dark-text,
        900: $dark-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);

// base 400
$fb-warn: (
    50: #ffecef,
    100: #ffd0d5,
    200: #ff9e9e,
    300: #fb7777,
    400: #f45b69,
    500: #ff4436,
    600: #ff3b37,
    700: #ec3031,
    800: #df2929,
    900: #cf1c1d,
    A100: #ffffff,
    A200: #fffcfc,
    A400: #ffcac9,
    A700: #ffb1af,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $light-text,
        400: $light-text,
        500: $light-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $dark-text,
    ),
);

$fb-grey: (
    50: #fafafa,
    100: #e6ecf5,
    200: #eeeeee,
    300: #e0e0e0,
    400: #c4c4c4,
    500: #8c819e,
    600: #786c8c,
    700: #655b76,
    800: #36303f,
    900: #212121,
    A100: #ffffff,
    A200: #eeeeee,
    A400: #bdbdbd,
    A700: #616161,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $dark-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $light-text,
    ),
);

// base 500
$fb-blue: (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #2196f3,
    600: #1e88e5,
    700: #1976d2,
    800: #1565c0,
    900: #0d47a1,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #2962ff,
    contrast: (
        50: $dark-text,
        100: $dark-text,
        200: $dark-text,
        300: $dark-text,
        400: $dark-text,
        500: $light-text,
        600: $light-text,
        700: $light-text,
        800: $light-text,
        900: $light-text,
        A100: $dark-text,
        A200: $dark-text,
        A400: $dark-text,
        A700: $light-text,
    ),
);
