tr.mat-row.cdk-row.ng-star-inserted {
    height: auto;
}

td.mat-cell.cdk-cell.cdk-column-template.mat-column-template.ng-star-inserted {
    width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 10px 10px 10px 10px;
}

.fb-table {
    margin: 20px 0 20px 0;
}
