<fb-list-header>
    <div class="fb-body-2 wrap" fxFlex>NAME</div>
    <div class="fb-body-2 wrap" fxFlex>TEMPLATE ID</div>
    <div class="fb-body-2 wrap" fxFlex>PERIOD</div>
    <div class="fb-body-2 wrap" fxFlex>CHANNEL</div>
    <div class="fb-body-2 wrap" fxFlex>FREQUENCY</div>
    <div class="fb-body-2 wrap" fxFlex>STATUS</div>
    <div class="fb-body-2 wrap" fxFlex="240px">SUBJECT</div>
    <div class="fb-body-2 wrap" fxFlex="160px">CREATED</div>
    <div fxFlex="56px"></div>
</fb-list-header>
