<mat-form-field [floatLabel]="floatLabelType" [appearance]="appearanceType">
    <input
        matInput
        placeholder="Template ID"
        label="templateId"
        name="templateId"
        [formControl]="formControl"
        [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let template of templates$ | async" [value]="template">
            {{ template }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
