@import '~@angular/material/theming';

@import './mat-overrides-theme';

@import './src/app/shared/components/headline/secondary-title/secondary-title-theme';
@import './src/app/shared/components/tag/tag-colors-theme';
@import './src/app/shared/components/details-item/details-item-theme';

@import './src/app/sections/templates/payment-templates-list/components/template-header/template-header-theme';

@mixin fb-theme($theme) {
    body.#{map-get($theme, name)} {
        @include mat-overrides-theme($theme);
        @include fb-details-secondary-title-theme($theme);
        @include fb-tag-colors-theme($theme);
        @include fb-template-header-theme($theme);
        @include fb-details-item-theme($theme);
    }
}
