@import '~@angular/material/theming';
@import '../utils/palette';

body.light {
    background-color: mat-color($mat-gray, 50);
}

$theme: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-blue),
    warn: mat-palette($mat-red),
    is-dark: false,
    foreground: $mat-light-theme-foreground,
    background: $mat-light-theme-background,
    /*
* Custom
*
*/ name: 'light',
    gray: mat-palette($mat-grey),
    success-base: mat-color(mat-palette($fb-success), 400),
    pending-base: mat-color(mat-palette($fb-pending), 800),
    warn-base: mat-color(mat-palette($fb-warn), 300),
);

@include fb-theme($theme);
