.toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    height: 48px;
}

.mat-drawer-side {
    width: 240px;
}

::ng-deep .mat-toolbar {
    background: none;

    &.mat-primary {
        background: #fff;
        color: #888da8;
    }

    .mat-button,
    .mat-stroked-button {
        margin: 8px;
        border: 1px solid #e6ecf5;
    }

    &.toolbar.mat-primary.mat-toolbar-single-row {
        border-bottom: 1px solid #e6ecf5;
        border-bottom-color: rgb(230, 236, 245);
    }
}

.content {
    background: #f6f7fb;
}

.container-fluid {
    padding: 0 20px 20px 20px;
    min-height: calc(100vh - 134px);
}

.mat-drawer-side {
    border-right: solid 1px #e6ecf5;
}

::ng-deep {
    .container-fluid .mat-card {
        border: 1px solid #e6ecf5;
        box-shadow: none;

        .mat-form-field-wrapper {
            margin-top: 30px;
        }

        .mat-form-field-label-wrapper {
            font-size: 18px;
            top: -1.3em;

            span {
                color: #888da8;
            }
        }
    }

    .mat-form-field-wrapper {
        padding: 0;
        margin: 8px;
    }

    .mat-form-field-underline {
        visibility: hidden;
    }

    .mat-toolbar {
        .mat-form-field-appearance-fill .mat-form-field-flex {
            background: none;
            padding: 0 0 0 0;
        }

        .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
            transform: none;
        }

        a img {
            vertical-align: bottom;
            padding-bottom: 3px;
        }
    }

    .mat-form-field-appearance-fill,
    .mat-form-field-appearance-legacy,
    .mat-form-field-appearance-outline {
        .mat-form-field-infix {
            border: 1px solid #e6ecf5;
            font-size: 13px;
            padding: 10px 20px;
            border-radius: 4px;

            &:hover,
            &:focus,
            &:active {
                outline: 0 none;
                box-shadow: none;
                border-color: #673ab7;
            }
        }

        &.mat-focused .mat-form-field-infix {
            outline: 0 none;
            box-shadow: none;
            border-color: #673ab7;
        }
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-nav-list {
        .mat-list-item-content {
            color: #888da8;
        }

        .mat-icon {
            padding-bottom: 4px;
            margin: 0 14px 0 14px;
        }
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
        .mat-form-field-outline-end,
        .mat-form-field-outline-start,
        .mat-form-field-outline-gap {
            border: none;
        }
    }

    mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        border-bottom-color: #e6ecf5;
    }

    .mat-header-cell {
        color: #888da8;
    }

    .mat-select-panel:not([class*='mat-elevation-z']) {
        border: 1px solid #e6ecf5;
        font-size: 13px;
        box-shadow: none;
    }

    .mat-drawer-inner-container .mat-toolbar {
        place-content: center;
    }

    .justify-content-center {
        justify-content: center;
    }

    .fb-spacer {
        flex: 1 1 auto;
    }

    .fb-table {
        width: 100%;

        .mat-table {
            box-shadow: none;
        }

        .mat-drawer-container {
            background: #f6f7fb;
        }

        .mat-column-edit,
        .mat-column-delete {
            width: 80px;
        }

        .mat-column-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 300px;
        }

        .mat-form-field-flex {
            color: #515365;
            background: red;
            border-color: #d4deee;
            font-weight: 500;
        }
    }

    mat-form-field.mat-form-field {
        &.full-width {
            width: 100%;

            textarea {
                min-height: 400px;
            }
        }
        &.search {
            margin-top: 3px;
        }
    }

    .mat-nav-list {
        .mat-list-item.active {
            .mat-list-item-content {
                color: #000;
            }
        }
    }

    .list-values {
        .mat-button.mat-warn,
        .mat-icon-button.mat-warn,
        .mat-stroked-button.mat-warn {
            margin-top: 27px;
        }
    }
}
