<mat-sidenav-container>
    <mat-sidenav role="navigation" #sidenav mode="side" fixedInViewport="true" opened="true">
        <app-navigate-menu></app-navigate-menu>
    </mat-sidenav>

    <mat-sidenav-content role="main" class="content">
        <mat-toolbar color="primary" class="toolbar">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
