.mat-drawer-side {
    width: 240px;
}

::ng-deep .mat-toolbar {
    background: none;

    &.mat-primary {
        background: #fff;
        color: #655b76;
    }

    .mat-button,
    .mat-stroked-button {
        margin: 8px;
        border: 1px solid #e6ecf5;
    }

    &.toolbar.mat-primary.mat-toolbar-single-row {
        border-bottom: 1px solid #e6ecf5;
        border-bottom-color: rgb(230, 236, 245);
    }
}

.content {
    background: #f6f7fb;
}

.container-fluid {
    padding: 24px;
    min-height: calc(100vh - 134px);
}

::ng-deep {
    .mat-card-footer {
        margin-right: -24px !important;
        margin-bottom: -24px !important;
        margin-left: -24px !important;
    }

    .mat-form-field-label {
        font-weight: 700 !important;
    }

    .mat-button > .mat-ripple {
        display: none;
    }

    .mat-simple-snackbar {
        .mat-button {
            color: #f6f2ff;
        }
    }

    .mat-form-field-disabled {
        .mat-form-field-infix:hover {
            border-color: #e6ecf5 !important;
        }
    }

    .mat-button.mat-primary:hover {
        background-color: #5f35a8;
        .mat-button-focus-overlay {
            display: none;
        }
    }

    .mat-button.mat-accent:hover {
        background-color: #ece5f7;
        .mat-button-focus-overlay {
            display: none;
        }
    }

    .mat-primary.mat-button-disabled {
        background-color: #c4c4c4;
        &:hover {
            background-color: #c4c4c4;
        }
    }

    .mat-accent.mat-button-disabled {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        .mat-button-wrapper {
            color: #c4c4c4;
        }
    }

    .mat-divider {
        border-color: #e6ecf5;
    }

    .mat-drawer-side {
        border-right: solid 1px #e6ecf5;
    }
    .toolbar {
        position: sticky;
        position: -webkit-sticky; /* For macOS/iOS Safari */
        top: 0; /* Sets the sticky toolbar to be on top */
        z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
        height: 48px;
    }

    .material-icons.md-18 {
        font-size: 18px;
    }
    .material-icons.md-24 {
        font-size: 24px;
    }
    .material-icons.md-36 {
        font-size: 36px;
    }
    .material-icons.md-48 {
        font-size: 48px;
    }

    .mat-tooltip {
        font-size: 14px;
    }

    .mat-menu-panel {
        border-radius: 0 !important;
        border: 1px solid #e6ecf5;
    }

    .mat-menu-content {
        padding: 0 !important;
    }

    .mat-elevation-z4 {
        box-shadow: none !important;
    }

    .container-fluid .mat-card {
        border: 1px solid #e6ecf5;
        box-shadow: none;

        .mat-form-field-wrapper {
            margin-top: 30px;
        }

        .mat-form-field-label-wrapper {
            font-size: 18px;
            top: -1.3em;

            span {
                color: #655b76;
            }
        }
    }

    .mat-form-field-wrapper {
        padding: 0;
        margin: 8px;
    }

    .mat-form-field-underline {
        visibility: hidden;
    }

    .mat-toolbar {
        .mat-form-field-appearance-fill .mat-form-field-flex {
            background: none;
            padding: 0 0 0 0;
        }

        .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
            transform: none;
        }

        a img {
            vertical-align: bottom;
            padding-bottom: 3px;
        }
    }

    .mat-form-field-appearance-fill,
    .mat-form-field-appearance-legacy,
    .mat-form-field-appearance-outline {
        .mat-form-field-infix {
            border: 1px solid #e6ecf5;
            font-size: 13px;
            padding: 10px 20px;
            border-radius: 4px;

            &:hover,
            &:focus,
            &:active {
                outline: 0 none;
                box-shadow: none;
                border-color: #673ab7;
            }
        }

        &.mat-focused .mat-form-field-infix {
            outline: 0 none;
            box-shadow: none;
            border-color: #673ab7;
        }
    }

    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding: 0;
    }

    .mat-nav-list {
        .mat-list-item-content {
            color: #655b76;
        }

        .mat-icon {
            padding-bottom: 4px;
            margin: 0 14px 0 14px;
        }
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
        .mat-form-field-outline-end,
        .mat-form-field-outline-start,
        .mat-form-field-outline-gap {
            border: none;
        }
    }

    mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        border-bottom-color: #e6ecf5;
    }

    .mat-header-cell {
        color: #655b76;
    }

    .mat-select-panel:not([class*='mat-elevation-z']) {
        border: 1px solid #e6ecf5;
        font-size: 13px;
        box-shadow: none;
    }

    .mat-drawer-inner-container .mat-toolbar {
        place-content: center;
    }

    .justify-content-center {
        justify-content: center;
    }

    .fb-spacer {
        flex: 1 1 auto;
    }

    .fb-table {
        width: 100%;

        .mat-table {
            box-shadow: none;
        }

        .mat-drawer-container {
            background: #f6f7fb;
        }

        .mat-column-edit,
        .mat-column-delete {
            width: 80px;
        }

        .mat-column-text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 300px;
        }

        .mat-form-field-flex {
            color: #515365;
            background: red;
            border-color: #d4deee;
            font-weight: 500;
        }
    }

    mat-form-field.mat-form-field {
        &.full-width {
            width: 100%;

            textarea {
                min-height: 400px;
            }
        }
        &.search {
            margin-top: 2px;
        }
    }

    .mat-nav-list {
        .mat-list-item.active {
            .mat-list-item-content {
                color: #673ab7;
            }
        }
    }

    .list-values {
        .mat-button.mat-warn,
        .mat-icon-button.mat-warn,
        .mat-stroked-button.mat-warn {
            margin-top: 27px;
        }
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 34px;
    }
}
