<div fxLayout="column" [fxLayoutGap]="layoutGapM">
    <div fxLayout fxLayoutAlign="space-between center">
        <fb-data-sets-search (valueChanges)="search($event)"></fb-data-sets-search>
        <button mat-button color="primary" (click)="createDataSet()">CREATE DATA SET</button>
    </div>
    <div *ngIf="dataSets$ | async as dataSets; else Empty" fxLayout="column" [fxLayoutGap]="layoutGapM">
        <fb-payment-data-sets-list
            *ngIf="dataSets.length > 0; else Empty"
            [dataSets]="dataSets"
            (goToDataSet)="goToDataSet($event)"
            (deleteItem)="removeDataSet($event)"
        ></fb-payment-data-sets-list>
        <fb-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="inProgress$ | async"
            (showMore)="fetchMore(dataSets[dataSets.length - 1].id)"
        ></fb-show-more-panel>
    </div>
</div>

<ng-template #Empty>
    <div *ngIf="inProgress$ | async" fxLayout fxLayoutAlign="center">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="128"></mat-progress-spinner>
    </div>
    <fb-empty-search-result *ngIf="!(inProgress$ | async)"></fb-empty-search-result>
</ng-template>
