.username {
    font-weight: 500;
    line-break: anywhere;
}

.roles {
    color: #c4c4c4;
}

.user-info {
    padding: 8px;
}

.username {
    text-align: center;
}

ul {
    margin: 0;
    padding-left: 20px;
    padding-right: 8px;
}
