<mat-toolbar>
    <mat-toolbar-row>
        <h3>New rows</h3>
        <button mat-stroked-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button color="primary" (click)="fileDropRef.click()">
            <mat-icon>publish</mat-icon>
        </button>
        <input
            hidden
            type="file"
            #fileDropRef
            id="fileDropRef"
            multiple
            (change)="loadListFromCsv($event.target.files)"
        />
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <div class="list-values" fxLayout fxLayoutAlign="center center">
            <div *ngIf="isPaymentReference()" fxFlex="100">
                <div *ngFor="let reference of paymentRecords; let i = index">
                    <div fxLayout>
                        <div fxFlex="22">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="List name"
                                    label="listName"
                                    [(ngModel)]="reference.listRecord.listName"
                                    name="listName"
                                    [matAutocomplete]="auto"
                                />
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div fxFlex="22">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="Party ID"
                                    label="partyId"
                                    [(ngModel)]="reference.listRecord.partyId"
                                    name="partyId"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="22">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="Shop ID"
                                    label="shopId"
                                    [(ngModel)]="reference.listRecord.shopId"
                                    name="shopId"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="22">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="Value"
                                    label="value"
                                    [(ngModel)]="reference.listRecord.value"
                                    name="value"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="10">
                            <button mat-icon-button color="warn" (click)="deleteRef(i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div fxLayout *ngIf="isCounting">
                        <div fxFlex="100">
                            <div fxFlex="22">
                                <mat-form-field floatLabel="always" class="full-width">
                                    <input
                                        type="number"
                                        matInput
                                        placeholder="Count"
                                        label="count"
                                        [(ngModel)]="reference.countInfo.count"
                                        name="count"
                                    />
                                </mat-form-field>
                            </div>
                            <div fxFlex="22">
                                <mat-form-field floatLabel="always" class="full-width">
                                    <input
                                        matInput
                                        placeholder="Start time"
                                        label="startCountTime"
                                        [(ngModel)]="reference.countInfo.startCountTime"
                                        name="startCountTime"
                                        [ngxMatDatetimePicker]="pickerFrom"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker showSeconds="true" #pickerFrom></ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                            <div fxFlex="22">
                                <mat-form-field floatLabel="always" class="full-width">
                                    <input
                                        matInput
                                        placeholder="End time"
                                        label="endCountTime"
                                        [(ngModel)]="reference.countInfo.endCountTime"
                                        name="endCountTime"
                                        [ngxMatDatetimePicker]="pickerTo"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker showSeconds="true" #pickerTo></ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isP2pReference()" fxFlex="100">
                <div *ngFor="let reference of p2pRecords; let i = index">
                    <div fxLayout>
                        <div fxFlex="30">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="List name"
                                    label="listName"
                                    [(ngModel)]="reference.listRecord.listName"
                                    name="listName"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="30">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="Identity ID"
                                    label="identityId"
                                    [(ngModel)]="reference.listRecord.identityId"
                                    name="identityId"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="30">
                            <mat-form-field floatLabel="always" class="full-width">
                                <input
                                    matInput
                                    placeholder="Value"
                                    label="value"
                                    [(ngModel)]="reference.listRecord.value"
                                    name="value"
                                />
                            </mat-form-field>
                        </div>
                        <div fxFlex="10">
                            <button mat-icon-button color="warn" (click)="deleteRef(i)">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div fxLayout *ngIf="isCounting">
                        <div fxFlex="100">
                            <div fxFlex="30">
                                <mat-form-field floatLabel="always" class="full-width">
                                    <input
                                        type="number"
                                        matInput
                                        placeholder="Count"
                                        label="count"
                                        [(ngModel)]="reference.countInfo.count"
                                        name="count"
                                    />
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field floatLabel="always" class="full-width">
                                    <input
                                        matInput
                                        placeholder="Start time"
                                        label="startCountTime"
                                        [(ngModel)]="reference.countInfo.startCountTime"
                                        name="startCountTime"
                                    />
                                </mat-form-field>
                            </div>
                            <div fxFlex="30">
                                <mat-form-field floatLabel="always" class="full-width">
                                    <input
                                        matInput
                                        placeholder="End time"
                                        label="endCountTime"
                                        [(ngModel)]="reference.countInfo.endCountTime"
                                        name="endCountTime"
                                    />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-toolbar>
            <mat-toolbar-row class="justify-content-center">
                <button mat-stroked-button color="primary" (click)="addNewReference()">
                    <span class="material-icons">add</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-content>
</mat-card>
