<mat-card class="fb-list-item" fxLayout fxFlexFill fxLayoutAlign="center center" [fxLayoutGap]="layoutGapM">
    <div class="fb-body-2" fxFlex>{{ notification.name }}</div>
    <div class="fb-body-2" fxFlex>{{ notification.templateId }}</div>
    <div class="fb-body-2" fxFlex>{{ notification.period }}</div>
    <div class="fb-body-2" fxFlex>{{ notification.channel }}</div>
    <div class="fb-body-2" fxFlex>{{ notification.frequency }}</div>
    <div class="fb-body-2" fxFlex>{{ notification.status }}</div>
    <div class="fb-body-2" fxFlex="200px">{{ notification.subject }}</div>
    <div class="fb-body-2" fxFlex="160px">{{ notification.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editItem.emit(notification.id)">
                <span>Go to notification settings</span>
            </button>
            <button mat-menu-item (click)="deleteItem.emit(notification.id)">
                <span>Send to archive</span>
            </button>
        </mat-menu>
    </ng-container>
</mat-card>
